/* FLAVORTEXT FOR PACKAGE */


div.FlavortextPackage {
	opacity: 0.5;
	width: 500px;
	height: 500px; 
	background-color: white;
	position: relative;
	left: 50px;
	top: 50px;
	
	
}

div.Text {
	position: relative;
	top: 70px;
	
}
div.Text p {
	padding: 16px;
	margin: 5%;
	font-weight: bold;
	color: #000000;
	text-align: left;
	font-family: Helvetica;
	font-size: 20px;
}
div.Text h1 {
	padding: 16px;
	margin: 5%;
	font-weight: bold;
	color: #000000;
	text-align: left;
	font-family: Helvetica;
}





/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  position: absolute;
  top: -5px;
  right: 0;
  margin-right: 50px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


body {
	background: #262626;
	margin: 0;
	color: white;
	font-family: raleway;
}

.popup .content {
	width: 300px;
	height: 450px;
	z-index: 2;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%) scale(0);
	padding: 20px;
	border-radius: 20px;
	background: #262626;
	position: absolute;
	box-shadow: 38px 38px 56px #1e1e1e,
				-25px -25px 38px #1e1e1e;
	z-index: 1;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  right: 0px;
}


/*
.dropdown-content .open-button {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}*/
/* Button for Login */
.open-button {
	background-color: inherit;
	font-size: 16px;
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border: none;
	cursor: pointer;
	
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-content button:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* LOGIN POPUP THINGY */

 {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
/*.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 20px;
  right: 28px;
  width: 280px;
} */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup h1 {
	display: block;
	color: black;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} 

.PackageBox1 {
	position: absolute;
	width: 250px;
	height: 300px;
	background-color: white;
	left: 600px;
	top: 250px;
	margin: 20px;
	opacity: 0.5;
	border: 1px;
	border-radius: 15px;
	z-index: 0;
}

.PackageBoxBottom1 {
	position: absolute;
	width: 250px;
	height: 100px;
	left: 600px;
	top: 450px;
	margin: 20px;
	background-color: white;
	border: 1px;
	border-radius: 15px;
	z-index: 1;
	opacity: 1;
}

.PackageBoxBottom1 h1 {
	margin-top: 25px;
	text-align: center;
	color: black;
	font-family: helvetica;	 
}

.PackageBox2 {
	position: absolute;
	width: 250px;
	height: 300px;
	background-color: white;
	left: 875px;
	top: 250px;
	margin: 20px;
	opacity: 0.5;
	border: 1px;
	border-radius: 15px;
	z-index: 0;
}

.PackageBoxBottom2 {
	position: absolute;
	width: 250px;
	height: 100px;
	left: 875px;
	top: 450px;
	margin: 20px;
	background-color: white;
	border: 1px;
	border-radius: 15px;
	z-index: 1;
	opacity: 1;
}

.PackageBoxBottom2 h1 {
	margin-top: 25px;
	text-align: center;
	color: black;
	font-family: helvetica;	 
}

.PackageBox3 {
	position: absolute;
	width: 250px;
	height: 300px;
	background-color: white;
	left: 1150px;
	top: 250px;
	margin: 20px;
	opacity: 0.5;
	border: 1px;
	border-radius: 15px;
	z-index: 0;
}

.PackageBoxBottom3 {
	position: absolute;
	width: 250px;
	height: 100px;
	left: 1150px;
	top: 450px;
	margin: 20px;
	background-color: white;
	border: 1px;
	border-radius: 15px;
	z-index: 1;
	opacity: 1;
}

.PackageBoxBottom3 h1 {
	margin-top: 25px;
	text-align: center;
	color: black;
	font-family: helvetica;	 
}

